/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стилі для заголовка і навігації */
header {
    background-color: #222;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

/* Стилі для основного контенту */
main {
    background-color: #f9f9f9;
    padding: 2rem 0;
}

.recipe {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe img {
    max-width: 100%;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    margin-top: 1rem;
}

p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1rem;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

/* Стилі для підвалу */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
